.gitattributes  text
.gitignore      text
/bin/*          text eol=lf
/lib/**/*       text eol=lf
/man/**/*       text eol=lf
*.sh            text eol=lf
*.bat           text eol=crlf
*.txt           text
*.md            text

# Exceptions for quirky tests
/tests/creating/3G_weird_characters_in_pathspec.sh -text
